main {
  .form-act {
    a {
      opacity: 1;
      margin-top: 20px;
      color: #1e2f37;
      font: 700 14px Ubuntu, sans-serif;;
      text-transform: uppercase;
      padding: 6px 25px;
      box-shadow: 0 7px #2f004f;
      border-radius: 29px;
      background-color: #a8ff00;
      text-decoration: none;
      transition: .2s linear;

      &:hover {
        background-color: #a8ff00;
        box-shadow: -13px -3px 135px 15px rgba(138, 0, 255, 0.75);
      }

    }
  }
}

@media screen and (min-width: 320px) and (max-width: 374px){
  main {
    .form-act {
      a {
        margin-top: 40px;
        font: 700 16px Ubuntu, sans-serif;;
        padding: 10px 45px;
        box-shadow: 0 5px #000;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  main {
    .form-act {
      a {
        margin-top: 40px;
        font: 700 16px Ubuntu, sans-serif;;
        padding: 10px 45px;
        box-shadow: 0 5px #000;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  main {
    .form-act {
      a {
        margin-top: 40px;
        font: 700 16px Ubuntu, sans-serif;;
        padding: 15px 55px;
        box-shadow: 0 5px #000;
      }
    }
  }
}